<section class="hero" id="about">
    <div class="hero-body">

    <p> Founded on August 04, 2025 in Ho Chi Minh City, Vietnam. </p>

        <p>
    The Mathesis Club for Mathematical Sciences is a volunteer-led initiative, 
      dedicated to building a 
    kind, open, and intellectually honest space for exploring mathematics and its relations to sciences.
  </p>

  <p>
    We believe that the pursuit of knowledge should be marked not by pressure or competition, but by 
    curiosity, compassion, and care. This is a place for those who seek to understand — 
    whether through quiet study, lively dialogue, or serious research.
  </p>

  <p>
    We encourage the reading and critique of books and research papers, 
        deep engagement with the ideas of others, 
    the cultivation of thoughtful and honest inquiry. 
      While we welcome learners of all levels, we also strive to 
    nurture high-quality scientific research. 
    </p>

  <p>
    We are a scientific community and strictly non-political and non-ideological. 
      Our only allegiance is to truth, clarity, and the joy of learning. 
  </p>
        </div>
</section>
